.show {
    z-index:1002;
    position: absolute;
    background-color:#ffffff;
    display: block;
    border-color: transparent;
    list-style-type: none;
    list-style: none;
    cursor: pointer;
    opacity: 0.7;
}
.item {
    height: 30px;
    padding: 4px 44px 4px 16px;
}
.item:hover {
    background-color:#D2D2D2;
}

span.item {
    display: block;
}
.hide {
    display: none;
}

.marker-hide {
    display: none;
}

.marker-show {
    z-index:1000;
    position: absolute;
    background-color:#ffffff;
    display: block;
    border-color: transparent;
    list-style-type: none;
    list-style: none;
    cursor: pointer;
    opacity: 0.7;
}
.marker-show li{ list-style: none; }
.marker-show a { border: 0 !important; text-decoration: none; }
.marker-show a:hover { text-decoration: underline !important; }

.show li{ list-style: none; }
.show a { border: 0 !important; text-decoration: none; }
.show a:hover { text-decoration: underline !important; }

.legend-item {
    height: 30px;
    padding: 4px 44px 4px 16px;
}
div.legend-item {
    display:block;
}

#legend {
    position:absolute;
    z-index: 1001;
    bottom: 0px;
    right: 0px;
    border: 2px dotted grey;
    background: white;
    opacity: 0.6;
}
#legend-viewer {
    min-width: 100%;
    text-align: center;
    display: block;
    position: relative;
    cursor: pointer;
    overflow: auto;
}

#events {
    position: absolute;
    bottom: 0px;
    z-index: 1001;
    bottom: 0px;
    border: 2px dotted grey;
    background: white;
    opacity: 0.6;
    max-height: 90%;
    max-width: 195px;
    overflow-y: auto;
}

#event-header {
    text-align: center;
    cursor: pointer;
}
#togglable-events {
}

#views {
    position: absolute;
    z-index: 1001;
    bottom: 0px;
    left: 200px;
}
.view-item {
    background: white;
    max-height: 30px;
    display: inline;
    padding: 4px 4px 4px 4px;
    margin-right: 10px;
    opacity: 0.6;
    border: 2px dotted grey;
}
.view-item:hover {
    background-color:#D2D2D2;
    cursor: pointer;
}
.accident-item {
    height: 30px;
    padding: 4px 15px 4px 10px;
    width: 100%;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.accident-item:hover {
    background-color:#D2D2D2;
    cursor:default;
}

#Popup {
  	pointer-events: none;
    border-radius: 10px;
    background-color: white !important;
    opacity: 0.8 !important;
    padding-top: 5px;
    padding-left: 2px;
}

.olPopup
{
    overflow:inherit;
}

.olPopup *
{
    margin: 0px;
    padding:0px;
    font-size: 12px;
}

.olPopup a.close
{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 10px;
    right: 28px;
    background: url(script/img/close.gif) no-repeat top left !important;
    margin: 0;
    font-size: 1px;
    padding: 0;
}

.olPopup a.close:hover
{
    background: url(script/img/close-hover.gif) no-repeat top left;
}

.olPopup .olPopupContent
{
    min-width:200px;
    background-color: #ffffff !important;
    padding: 1px !important;
    margin: 0 !important;
    font-size: 0.80em;
    opacity: 0.8;
}

.olPopup .olPopupContent h2
{
    font-size: small;
    text-align: center;
    padding: 2px 0px 2px 0px;
    margin: 0px 6px 0px 6px;
    text-transform:capitalize;
}

.olPopup .olPopupContent table
{
    border-collapse:collapse;
    overflow: auto;
    padding: 0px;
}

.olPopupContent table td
{
    padding: 4px;
    border: 1px solid #cccccc;
}